<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whowhenhow.hugleg">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" android:noHistory="true">
        </activity>
        <activity android:name=".activity.MainPage" android:launchMode="singleInstance">
        </activity>
        <activity android:name=".activity.Find" android:noHistory="true">
        </activity>
        <activity android:name=".activity.ProjectActivity" android:noHistory="true">
        </activity>
        <activity android:name=".activity.Aboutme" android:noHistory="true">
        </activity>
        <activity android:name=".activity.User_address" android:noHistory="true">
        </activity>
        <activity android:name=".activity.User_Label" android:noHistory="true">
        </activity>
        <activity android:name=".activity.User_name" android:noHistory="true">
        </activity>
        <activity android:name=".activity.User_password" android:noHistory="true">
        </activity>
        <activity android:name=".activity.User_touxiang" android:noHistory="true">
        </activity>
        <activity android:name=".activity.Add_project" android:noHistory="true">
        </activity>
        <activity android:name=".activity.PersonInfo" android:noHistory="true">
        </activity>
        <activity android:name=".activity.ProjectInfo" android:noHistory="true">
        </activity>
    </application>

</manifest>